:root {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: gray;
    overflow: hidden;
    box-sizing: border-box;
    overscroll-behavior: none;
}

#rootCanvas {
    display: none;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #29323c, #485563);;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    margin-top: 0px;
    box-sizing: border-box;
    padding: 50px 0px;
}

#time {
    font-size: 30px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.757);
}

#game-title {
    margin-top: 0px;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.757);
}

#game-level {
    margin-top: 20px;
    font-size: 20px;
    width: 35%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.757);
}

select {
    width: 120px;
    background-color: white;
    border: white;
    border-radius: 10px;
    height: 25px;
    padding: 0px 0px;
    cursor: pointer;
    color: #29323c;
    text-align: center;
}

select:focus {
    outline: none;
}

select>option {
    background-color: #485563;
    color: white;
    text-align: center;
}


#image-preview {
    margin-top: 40px;
    width: 50%;
    height: 250px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10;
    overflow-y: scroll;
}

#image-preview > img {
    width: 45%;
    height: 120px;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#start-game-button {
    margin-top: 40px;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    color: #29323c;
    background-color: rgba(255, 255, 255, 0.757);
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

#start-game-button:hover {
    background-color: #485563;
    border: 1px solid rgba(255, 255, 255, 0.757);
    color: rgba(255, 255, 255, 0.757);
}